.user-management, 
.approval-chains {
	min-height: 400px;
    background-color: #FFFFFF;
	box-shadow: 0 0 40px #CDCDCD;
	margin: 0 0 20px;
	padding: 0;
}

.user-management .header, 
.approval-chains .header {
	padding: 30px 20px;
    margin-bottom: 0;
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.user-management .row, 
.approval-chains .row{
    margin: 0;
    padding: 20px;
}


.user-management .row.user-search, 
.approval-chains .row.approval-chains-search {
    border-bottom: 1px solid #cdcdcd;
}

.create-approval-chain, 
.create-approval-chain:active, 
.create-approval-chain:hover, 
.create-approval-chain:visited, 
.create-approval-chain:link {
    font-size: 22px;
    text-decoration: none;
    background-color: #1abc9c;
    color: white;
    display: block;
    width: 31px;
    text-align: center;
    margin-left: -10px;
    padding-bottom: 2px;
}