.container.form {
    background-color: #ffffff;
	box-shadow: 0 0 40px #CDCDCD;
    padding: 0;
}

.container.form .header {
    margin-top: 0;
    padding: 30px;
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 20px;
}

.form {
	margin-top: 20px;
	max-width: 600px;	
}

.form .link {
	font-size: 11px;
}

.form .row input, .form .row select, .form .row textarea {
	margin-bottom: 10px;
}

.split-left, .split-right {
	padding: 0;
}

.form .logo {
	width: 100%;
}

.steps {
	margin-bottom: 20px;
}

.steps .glyphicon {
	font-size: 2rem;
}

.step-one, .step-two, .step-three {
    padding: 0 25px;
}

/** Desktop Specific css **/
@media only screen and (min-width:990px) {
	.split-left {
		padding-right: 5px;
	}
	
	.split-right {
		padding-left: 5px;
	}
}