.form {
	margin-top: 20px;
	max-width: 600px;	
}

.form .link {
	font-size: 11px;
}

.form .row input, .form .row select, .form .row textarea {
	margin-bottom: 10px;
}

.split-left, .split-right {
	padding: 0;
}

.form .logo {
	width: 100%;
}

.steps {
	margin-bottom: 20px;
}

.steps .glyphicon {
	font-size: 2rem;
}

/** Desktop Specific css **/
@media only screen and (min-width:990px) {
	.split-left {
		padding-right: 5px;
	}
	
	.split-right {
		padding-left: 5px;
	}
}