.actionable-items, .request-items {
	min-height: 400px;
    background-color: #FFFFFF;
	box-shadow: 0 0 40px #CDCDCD;
	margin: 0 0 20px;
	padding: 0;
}

.actionable-items .header, .request-items .header {
	padding: 30px 20px;
    margin-bottom: 0;
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.actionable-items a, .request-items a, 
.actionable-items a:ACTIVE, .request-items a:ACTIVE,
.actionable-items a:VISITED, .request-items a:VISITED{
	text-decoration: none;
	color: #000000;
}

.container.item {
	max-width: 100%;
	font-size: 12px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	padding: 20px 25px;
	margin-top: 0;
}

.container.item:last-child {
    border-bottom: none;
}

.container.item:HOVER {
	background-color: #F9F9F9;
	cursor: pointer;
}

.container.item .row {
	margin: 2px 0;
}