.program-summary {
	margin-top: 20px;
	width: 80%;	
}

h5 {
	margin: 20px auto;
}

.workflow-details .detail {
	border: 1px solid #EEEEEE;
}

.comments {
	margin: 25px 0 40px;
}

.details .row{
	margin: 3px auto;
}

.cross-impact, .student-impact, .library-impact, .its-impact {
	margin: 0 !important;
}

.add-comment textarea {
    max-width: 600px;
    margin: auto;
}
