.container.search-results {
	margin-top: 20px;
    max-width: 600px;
    background-color: #ffffff;
	box-shadow: 0 0 40px #CDCDCD;
    padding: 0;
}

.container p.header {
    margin-top: 0;
    padding: 30px;
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 20px;
}

.container.search-results .row.content {
    padding: 10px 20px 0;
}

.search-key-words {
    font-size: 25px;
}

.search-results a, .search-results a, 
.search-results a:ACTIVE, .search-results a:ACTIVE,
.search-results a:VISITED, .search-results a:VISITED{
	text-decoration: none;
	color: #000000;
}

.search-result {
	cursor: pointer;
}

.search-result:HOVER {
	background-color: #F0FFFF;
}

.search-result a {
    display: block;
    height: inherit;
    width: inherit;
}

.search-results .table th {
    cursor: pointer;
}

.sorted {
    background-color: #f9f9f9;
}

.sorted:after {
    content: "\E114";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 2px 3px;
}