.program-summary {
	margin-top: 20px;
	width: 80%;	
}

h5 {
	margin: 20px auto;
}


.workflow-details .detail {
	border: 1px solid #EEEEEE;
}

.comments {
	margin-top: 25px;
}

.details .row{
	margin: 3px auto;
}

.cross-impact, .student-impact, .library-impact, .its-impact {
	margin: 0 !important;
}

.update-program-form {
	padding: 0 20px;
}

.update-program-form .button, .update-program-form textarea {
	font-size: 12px;
}

.update-program-form .row{
	margin: 15px 0;
}