@using System.Web.Optimization

@Styles.Render("~/Content/css/theme/signin.css")

<div class="container">
    <div class="col-md-12">
        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form center" }))
        {
            <div class="row center-text">
                <img class="logo" src="/Content/img/Mount_Royal_University_Logo.svg.png" /> <br/>
                <h3>Please sign in</h3>
            </div>

            <div class="row">
                <ul class="errors center-text">
                    <li>@ViewBag.Error</li>
                </ul>
            </div>

            <div class="row">
                <input class="form-control" type="email" name="email" placeholder="email" tabindex="1" value="@ViewBag.Email"/>
            </div>

            <div class="row">
                <input class="form-control" type="password" name="password" placeholder="password" tabindex="2"/>
            </div>

            <div class="row center-text">
                <input class="form-control button blue" type="submit" value="Login" tabindex="3"/>
                @Html.ActionLink("Don't have an account?", "SignUp", "Account", null, new { @class = "link" })
            </div>
        }
    </div>
</div>