@using System.Web.Optimization
@Styles.Render("~/Content/css/theme/admin.css")

<div class="container">
    <div class="row">
        <!-- ACTIONABLE ITEMS START -->
        <div class="col-md-6">
            <div class="user-management">
                <p class="header">User Management</p>

            </div>
        </div>
        <!-- ACTIONABLE ITEMS END -->

        <!-- REQUESTS START -->
        <div class="col-md-6">
            <div class="approval-chains">
                <p class="header">Approval Chains</p>

            </div>
        </div>
        <!-- REQUESTS END -->
    </div>
</div>