@model WorkflowManagementSystem.Models.Workflow.CommentViewModel

<div class="row">
    <div class="col-xs-12">
        <p style="font-weight: bold; font-size: 14px; margin-bottom: 0;">@Model.User</p>
        <p style="font-size: 12px;">@Model.DateTimeUtc</>

        <p class="comment">
            @Model.Text
        </p>
    </div>
</div>
