@model WorkflowManagementSystem.Models.Workflow.CommentViewModel

<div class="row">
    <div class="col-xs-12">
        <h5>@Model.User</h5>
        <h6>@Model.DateTimeUtc</h6>

        <p class="comment">
            @Model.Text
        </p>
    </div>
</div>
